<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left ">
                <a href="widget-list.view.client.html" class="navbar-link">
          <span class="glyphicon  glyphicon-chevron-left">
          </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>

        </div>
    </div>
</nav>


<div   class="container">



    <div class="mylinespacing">

        <a href="widget-heading.view.client.html" class="clearfix">Header</a>

        <a href="#" class="clearfix">Label</a>

        <a href="#" class="clearfix">HTML</a>

        <a href="#" class="clearfix">Text Input</a>

        <a href="#" class="clearfix">Link</a>

        <a href="#" class="clearfix">Button</a>

        <a href="widget-image.view.client.html" class="clearfix">Image</a>

        <a href="widget-youtube.view.client.html" class="clearfix">YouTube</a>

        <a href="#" class="clearfix">Data Table </a>

        <a href="#" class="clearfix">Repeater</a>


    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right ">
            <a href="/assignment/user/profile.html" >
                <span class="glyphicon glyphicon-user"></span> </a>  </p>
    </div>
</nav>



