<div class="container">
    <form>
    Name
        <div class="form-group" ng-class="{ 'has-error' : model.msg.type === 'error'}">
    <input ng-model="model.widget.name" class="form-control " />
       <div ng-show="model.msg.type === 'error'">
        <div class="help-block">Please enter the text-input name</div>
   </div>
            </div>
        Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
        <div class="input-group jga-margin-bottom-5px">
            <input type="text"
                   readonly
                   value="Formatted"
                   class="form-control jga-white-bg"/>
                <span class="input-group-addon">
                    <input ng-model="model.widget.formatted"
                           type="checkbox"/>
                </span>
        </div>

</form>
<br>
<a class="btn btn-danger  btn-block"
   ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</div>